// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: 'Roboto', sans-serif;
//     color: #fff;
// }
// body{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 100vh;
//     width: 100vw;
//     background-color: #000000;
// }
.taxa {
  .cabeça {
    color: #00ff37;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    background-color: rgb(0, 0, 0);
    padding: 2px 0;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(21, 255, 0, 0.77);
    -moz-box-shadow: 3px 3px 3px 3px rgba(93, 253, 0, 0.77);
    box-shadow: 3px 3px 3px 3px rgba(3, 243, 83, 0.77);
  }

  .cabeça table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
  }

  .cabeça table tr th {
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.25px;
    text-align: left;
    padding: 0 10px;
  }
  .cabeça table tr.luiza td {
    border-bottom: 1px solid #00ff15;
    padding: 0 10px;
  }
  .cabeça table tr.luiza {
    height: 60px;
  }
  .cabeça table tr td.social {
    width: 5%;
  }
  .cabeça table tr td {
    vertical-align: middle;
    width: 20%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.25px;
  }

  .cabeça table tr td {
    background-color: hsl(0, 0%, 0%);
    padding: 12px;
  }

  .negativo {
    color: #ed0818;
  }
  .positivo {
    color: #00a971;
  }
  .direita {
    text-align: right;
  }
}
